.vector-icon-tambahstaff {
    position: relative;
    width: 29px;
    height: 28px;
  }
  .hi-admin-tambahstaff,
  .hi-admin1-tambahstaff {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hi-admin1-tambahstaff {
    position: relative;
    width: 87px;
    height: 20px;
    flex-shrink: 0;
  }
  .hi-admin-tambahstaff {
    position: absolute;
    top: 30px;
    left: 896px;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
  }
  .vector-icon1-tambahstaff {
    position: relative;
    width: 10px;
    height: 16px;
    cursor: pointer;
  }
  .tambah-staff-sekolah1-tambahstaff {
    color: #fb793d;
  }
  .lingtar-tambah-container-tambahstaff {
    position: relative;
    font-weight: 500;
  }
  .vector-parent-tambahstaff {
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
    font-size: 24px;
  }
  .informasi-utama2-tambahstaff {
    position: relative;
    font-weight: 600;
  }
  .informasi-utama-child-tambahstaff {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #fb793d;
    box-sizing: border-box;
    height: 1px;
  }
  .informasi-utama1-tambahstaff,
  .nama-tambahstaff {
    display: flex;
    justify-content: center;
  }
  .informasi-utama1-tambahstaff {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    color: #fb793d;
  }
  .nama-tambahstaff {
    position: relative;
    align-items: center;
    width: 47px;
    height: 21px;
    flex-shrink: 0;
  }
  .frame-child-tambahstaff {
    align-self: stretch;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #75bee0;
    box-sizing: border-box;
    height: 38px;
  }
  .kelas-tambahstaff,
  .nama-parent-tambahstaff,
  .nip-nis-tambahstaff {
    display: flex;
    justify-content: center;
  }
  .nama-parent-tambahstaff {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .kelas-tambahstaff,
  .nip-nis-tambahstaff {
    align-items: center;
    height: 21px;
  }
  .nip-nis-tambahstaff {
    position: relative;
    width: 59px;
    flex-shrink: 0;
  }
  .kelas-tambahstaff {
    width: 43px;
  }
  .frame-inner-tambahstaff,
  .jabatan-tambahstaff,
  .kelas-tambahstaff {
    position: relative;
    flex-shrink: 0;
  }
  .frame-inner-tambahstaff {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    height: 38px;
  }
  .jabatan-tambahstaff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 21px;
  }
  .informasi-utama-tambahstaff {
    width: 489px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .email-lingtar-tambahstaff,
  .password-lingtar-tambahstaff {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 21px;
    flex-shrink: 0;
  }
  .password-lingtar-tambahstaff {
    width: 121px;
  }
  .informasi-tambahan-tambahstaff {
    width: 488px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
  .informasi-utama-parent-tambahstaff {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  .icon-plus-tambahstaff {
    position: relative;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    display: none;
  }
  .simpan-tambahstaff {
    position: relative;
    line-height: 132%;
  }
  .icon-plus-parent-tambahstaff {
    border-radius: 10px;
    background-color: #fb793d;
    width: 203px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    box-sizing: border-box;
    gap: 3px;
    font-size: 18px;
    color: #fff;
  }
  .frame-parent-tambahstaff {
    position: absolute;
    top: 126px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    font-size: 14px;
  }
  .kotak-putih-tambahstaff {
    position: absolute;
    top: 0;
    left: 223px;
    background-color: #f6f6f6;
    width: 1057px;
    height: 720px;
  }
  .asset-1-3-tambahstaff {
    position: relative;
    width: 145px;
    height: 30px;
    object-fit: cover;
  }
  .logo-lingtar-tambahstaff {
    position: absolute;
    top: calc(50% - 259px);
    left: calc(50% - 72px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .icon-buka-tutup-sidebar-tambahstaff {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 28.15px;
    height: 24.63px;
  }
  .kotak-biru-child-tambahstaff {
    position: absolute;
    top: 248px;
    left: 19px;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.3);
    width: 185px;
    height: 45px;
  }
  .beranda-tambahstaff,
  .house-solid-2-icon-tambahstaff {
    position: relative;
    flex-shrink: 0;
  }
  .house-solid-2-icon-tambahstaff {
    width: 25px;
    height: 25.78px;
    overflow: hidden;
  }
  .beranda-tambahstaff {
    display: flex;
    align-items: center;
    width: 107px;
    height: 20px;
  }
  .house-solid-2-parent-tambahstaff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  .icon-users-tambahstaff {
    position: relative;
    width: 25px;
    height: 20.97px;
  }
  .icon-users-parent-tambahstaff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fb793d;
  }
  .icon-alternate-calendar-tambahstaff,
  .penilaian-tambahstaff {
    position: relative;
    width: 25px;
    height: 25.78px;
  }
  .penilaian-tambahstaff {
    display: flex;
    align-items: center;
    width: 131px;
    height: 20px;
    flex-shrink: 0;
  }
  .icon-bullhorn-parent-tambahstaff,
  .icon-edit-parent-tambahstaff {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .icon-edit-parent-tambahstaff {
    border-radius: 20px;
    justify-content: center;
  }
  .icon-bullhorn-parent-tambahstaff {
    justify-content: flex-start;
  }
  .frame-group-tambahstaff {
    position: absolute;
    top: 204px;
    left: calc(50% - 82.5px);
    width: 166px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }
  .kotak-biru-tambahstaff {
    position: absolute;
    top: 0;
    left: 0;
    width: 223px;
    height: 720px;
    overflow: hidden;
    background-image: url(/public/kotak-biru-pendataan@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: left;
    color: #fff;
  }
  .tambah-staff-sekolah-tambahstaff {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 720px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
  }
  
  .text-tambahStaff {
    width: 490px;
    font-size: 18px;
    font: Poppins;
}