.daftar-admin {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    display: inline-block;
    width: 192px;
    height: 45px;
    flex-shrink: 0;
  }
  .garis-daftar{
    padding-top: 5%;
  }

  .daftar-border{
    width: 460px;
    font-size: 18px;
    font: Poppins;
  }

  .nama-kepala-sekolah-child {
    position: absolute;
    width: 100%;
    top: calc(50% + 24.5px);
    right: 0;
    left: 0;
    border-radius: 70px;
    max-width: 100%;
    overflow: hidden;
    height: 1px;
  }
  .nama-kepala-sekolah1 {
    position: absolute;
    width: calc(100% - 312px);
    top: calc(50% - 25px);
    left: 94px;
    display: inline-block;
  }
  .icon-user-daftar {
    position: absolute;
    width: calc(100% - 530px);
    top: calc(50% - 23px);
    right: 506px;
    left: 24px;
    max-width: 100%;
    overflow: hidden;
    height: 28.57px;
  }
  .nama-kepala-sekolah {
    margin-top: 5%;
    position: relative;
    width: 555px;
    height: 50px;
    cursor: pointer;
  }
  .nama-sekolah1 {
    position: absolute;
    width: calc(100% - 394px);
    top: calc(50% - 25px);
    left: 94px;
    display: inline-block;
  }
  .vector-icon-daftar {
    position: absolute;
    width: calc(100% - 530px);
    top: calc(50% - 20px);
    right: 506px;
    left: 24px;
    max-width: 100%;
    overflow: hidden;
    height: 25px;
  }
  .alamat-email-daftar {
    position: absolute;
    width: calc(100% - 408px);
    top: calc(50% - 25px);
    left: 95.96px;
    display: inline-block;
  }
  .icon-envelope-daftar {
    position: absolute;
    width: calc(100% - 525px);
    top: calc(50% - 17px);
    right: 504.04px;
    left: 20.96px;
    max-width: 100%;
    overflow: hidden;
    height: 22.5px;
  }
  .kode-sekolah1 {
    position: absolute;
    width: calc(100% - 406px);
    top: calc(50% - 25px);
    left: 94px;
    display: inline-block;
  }
  .icon-globe-daftar,
  .kata-sandi-daftar-child {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
  }
  .icon-globe-daftar {
    width: calc(100% - 530px);
    top: calc(50% - 19px);
    right: 506px;
    left: 24px;
    height: 25.01px;
  }
  .kata-sandi-daftar-child {
    width: 100%;
    top: calc(50% + 25.5px);
    right: 0;
    left: 0;
    border-radius: 70px;
    height: 1px;
  }
  .kata-sandi1-daftar {
    position: absolute;
    width: calc(100% - 436px);
    top: calc(50% - 26px);
    left: 96px;
    display: inline-block;
  }
  .icon-eye-daftar,
  .icon-lock-daftar {
    position: absolute;
    width: calc(100% - 530px);
    top: calc(50% - 25px);
    right: 504px;
    left: 26px;
    max-width: 100%;
    overflow: hidden;
    height: 28.57px;
  }
  .icon-eye-daftar {
    width: calc(100% - 525px);
    top: calc(50% - 19px);
    right: 29px;
    left: 496px;
  }
  .kata-sandi-daftar {
    margin-top: 5%;
    position: relative;
    width: 555px;
    height: 52px;
    cursor: pointer;
  }
  .konfirmasi-kata-sandi-daftar {
    position: absolute;
    width: calc(100% - 308px);
    top: calc(50% - 26px);
    left: 96px;
    display: inline-block;
  }
  .checkbox-daftar {
    position: absolute;
    top: calc(50% - 13.5px);
    left: 20px;
  }
  .kotak-setuju-child {
    position: absolute;
    width: calc(100% - 371px);
    top: calc(50% - 10.5px);
    right: 371px;
    left: 0;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 20px;
  }
  .kotak-setuju {
    position: relative;
    width: 391px;
    height: 27px;
    cursor: pointer;
    font-size: 18px;
  }
  .icon-button {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .masuk-daftar {
    position: relative;
    line-height: 140%;
  }
  .daftar1,
  .kotak-putih-daftar {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
  }
  .daftar1 {
    border-radius: 15px;
    background-color: #fb793d;
    width: 264px;
    height: 60px;
    flex-direction: row;
    padding: 12px 52px;
    gap: 8px;
    text-align: center;
    font-size: 24px;
    color: #1a141f;
  }
  .daftar1:hover {
    background-color: #dc1dcd;
  }

  .kotak-putih-daftar {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 672px;
    height: 593px;
    overflow: hidden;
    flex-direction: column;
    padding: 227px 145px;
    gap: 5px;
  }
  .undraw-mobile-login-re-9ntv-2-icon {
    position: relative;
    width: 400px;
    height: 288px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lingtar {
    margin: 0;
  }
  .klik-di-sini {
    margin: 0;
    color: #fff;
  }
  .lingtar-klik-di-container {
    position: relative;
  }
  .kotak-biru-muda,
  .undraw-mobile-login-re-9ntv-2-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30%;
  }
  .undraw-mobile-login-re-9ntv-2-parent {
    gap: 10px;
    cursor: pointer;
  }
  .kotak-biru-muda {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #75bee0;
    overflow: hidden;
    padding: 337px 97px;
    box-sizing: border-box;
    text-align: center;
    font-size: 28px;
    color: #fb793d;
  }
  .daftar-1 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 593px;
    overflow: hidden;
    text-align: left;
    font-size: 22px;
    color: #000;
    font-family: Poppins;
  }
  
  @media (min-width: 1500px) {

    .daftar-1 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 711px;
    overflow: hidden;
    text-align: left;
    font-size: 22px;
    color: #000;
    font-family: Poppins;
  }

  .kotak-putih-daftar {
    position: absolute;
    background-color: #fff;
    width: 896px;
    height: 711px;
    overflow: hidden;
    flex-direction: column;
    padding: 227px 145px;
    gap: 5px;
  }

  .daftar1 {
    border-radius: 15px;
    background-color: #fb793d;
    width: 264px;
    height: 60px;
    flex-direction: row;
    padding: 12px 52px;
    gap: 8px;
    text-align: center;
    font-size: 24px;
    color: #1a141f;
    margin-top: 27px;
  }

  .kotak-biru-muda {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #75bee0;
    overflow: hidden;
    padding: 337px 97px;
    box-sizing: border-box;
    text-align: center;
    font-size: 28px;
    color: #fb793d;
    width: 41%;
  }

  }

  @media (min-width: 1300px) and (max-width: 1410px) {

    .daftar-1 {
      position: relative;
      background-color: #fff;
      width: 100%;
      height: 652px;
      overflow: hidden;
      text-align: left;
      font-size: 22px;
      color: #000;
      font-family: Poppins;
    }
  
    .kotak-putih-daftar {
      position: absolute;
      background-color: #fff;
      width: 766px;
      height: 652px;
      overflow: hidden;
      flex-direction: column;
      padding: 227px 145px;
      gap: 5px;
    }
  
    .daftar1 {
      border-radius: 15px;
      background-color: #fb793d;
      width: 264px;
      height: 60px;
      flex-direction: row;
      padding: 12px 52px;
      gap: 8px;
      text-align: center;
      font-size: 24px;
      color: #1a141f;
      margin-top: 27px;
    }

    .kotak-biru-muda {
      position: absolute;
      height: 710px;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #75bee0;
      overflow: hidden;
      padding: 337px 97px;
      box-sizing: border-box;
      text-align: center;
      font-size: 28px;
      color: #fb793d;
      width: 45%;
    }
  }