.reset-kata-sandi {
  margin-top: 15;
    position: relative;
    font-size: 28px;
    font-weight: 600;
    display: inline-block;
    width: 280px;
    height: 44px;
    flex-shrink: 0;
  }
  .kata-sandi-child {
    position: relative;
    margin-top: 5%;
    height: calc(100% - 47px);
    width: 100%;
    top: 47.5px;
    right: 0;
    bottom: -0.5px;
    left: 0;
    border-radius: var(--br-51xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .icon-eye1,
  .icon-lock1 {
    position: relative;
    width: calc(100% - 530px);
    top: 1px;
    right: 504px;
    max-width: 100%;
    overflow: hidden;
    height: 28.57px;
  }

  .kotak-putih1 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 686px;
  height: 592px;
  overflow: hidden;
  flex-direction: column;
  padding: 227px 145px;
  gap: 60px;
}

  .icon-eye1 {
    position: relative;
    left: -0.5px;
    width: 30.96px;
    height: 20.64px;
  }
  .kata-sandi {
    position: relative;
    width: 555px;
    height: 52px;
    cursor: pointer;
    text-align: right;
  }

  .kata-sandi2 {
    position: absolute;
    width: calc(100% - 436px);
    top: 40px;
    left: 90px;
    display: inline-block;
  }

  .konfirmasi-kata-sandi {
    position: absolute;
    width: calc(100% - 311px);
    top: 0;
    left: 90px;
    display: inline-block;
  }
  .icon-button2 {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .masuk1 {
    position: relative;
    line-height: 140%;
  }
  .kotak-putih1,
  .selanjutnya1 {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .selanjutnya1 {
    border-radius: 15px;
    background-color: #fb793d;
    width: 250px;
    height: 60px;
    flex-direction: row;
    padding: 12px 52px;
    gap: 8px;
    font-size: 24px;
    color: #fff;
  }
  .undraw-forgot-password-re-hxwm-icon-resetpw {
    position: relative;
    width: 400px;
    height: 288px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .lingtar {
    position: relative;
  }
  .kotak-oren1,
  .undraw-forgot-password-re-hxwm-resetpw-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .undraw-forgot-password-re-hxwm-resetpw-parent {
    gap: 10px;
  }
  .kotak-oren1 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #4e7e95;
    width: 594px;
    overflow: hidden;
    /* padding: 337px 97px; */
    box-sizing: border-box;
    font-size: 28px;
    color: #fb793d;
  }
  .lupa-pw-3 {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 592px;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    color: #000;
    font-family: Poppins;
  }
  
  .sandi-border2{
    right:50px;
    width: 460px;
    font-size: 20px;
    font: Poppins;
  }
  @media (min-width: 1500px) {
    .lupa-pw-3 {
      position: relative;
      background-color: #fff;
      width: 100%;
      height: 711px;
      overflow: hidden;
      text-align: center;
      font-size: 22px;
      color: #000;
      font-family: Poppins;
    }

    .kotak-putih1 {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: #fff;
      width: 878px;
      height: 711px;
      overflow: hidden;
      flex-direction: column;
      padding: 227px 145px;
      gap: 60px;
    }

    .kotak-oren1 {
      position: absolute;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #4e7e95;
      width: 658px;
      overflow: hidden;
      /* padding: 337px 97px; */
      box-sizing: border-box;
      font-size: 28px;
      color: #fb793d;
    }
  }

  @media (min-width: 1300px) and (max-width: 1410px) {
    .lupa-pw-3 {
      position: relative;
      background-color: #fff;
      width: 100%;
      height: 652px;
      overflow: hidden;
      text-align: center;
      font-size: 22px;
      color: #000;
      font-family: Poppins;
    }

    .kotak-putih1 {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: #fff;
      width: 778px;
      height: 652px;
      overflow: hidden;
      flex-direction: column;
      padding: 227px 145px;
      gap: 60px;
    }

    .kotak-oren1 {
      position: absolute;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #4e7e95;
      width: 631px;
      overflow: hidden;
      /* padding: 337px 97px; */
      box-sizing: border-box;
      font-size: 28px;
      color: #fb793d;
    }
  }