.may-2023 {
    position: relative;
    font-weight: 900;
  }
  .chevron-child {
    position: relative;
    width: 14px;
    height: 14px;
  }
  .chevron,
  .chevron1 {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
  }
  .chevron {
    display: flex;
    flex-direction: row;
  }
  .chevron1 {
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .chevron-parent,
  .chevron1,
  .header {
    display: flex;
    flex-direction: row;
  }
  .chevron-parent {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
  }
  .header {
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
  }
  .cell,
  .mo {
    justify-content: center;
  }
  .mo {
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .cell {
    flex-direction: column;
    padding: 20px;
  }
  .cell,
  .cell1,
  .row {
    display: flex;
    align-items: center;
  }
  .cell1 {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: -1px;
  }
  .row {
    flex-direction: row;
    justify-content: flex-start;
  }
  .cell7,
  .div13 {
    justify-content: center;
  }
  .div13 {
    position: relative;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .cell7 {
    border: 1px solid #d5d4df;
    flex-direction: column;
    padding: 20px;
  }
  .cell7,
  .cell8,
  .row1 {
    display: flex;
    align-items: center;
  }
  .cell8 {
    border: 1px solid #d5d4df;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: -1px;
  }
  .row1 {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -1px;
  }
  .cell24,
  .cell35,
  .cell36 {
    border: 1px solid #d5d4df;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .cell24 {
    background-color: #fb793d;
    display: flex;
    align-items: center;
    margin-left: -1px;
    color: #fff;
  }
  .cell35,
  .cell36 {
    color: #000;
  }
  .cell35 {
    display: flex;
    align-items: center;
  }
  .cell36 {
    margin-left: -1px;
  }
  .calendar,
  .cell36,
  .cell38,
  .days,
  .row5 {
    display: flex;
    align-items: center;
  }
  .cell38 {
    background-color: #f2f3f7;
    border: 1px solid #d5d4df;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: -1px;
  }
  .calendar,
  .days,
  .row5 {
    justify-content: flex-start;
  }
  .row5 {
    flex-direction: row;
    margin-top: -1px;
    color: #a8a8a8;
  }
  .calendar,
  .days {
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }
  .calendar {
    position: relative;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07),
      0 41.777610778808594px 33.42px rgba(0, 0, 0, 0.05),
      0 22.3363094329834px 17.87px rgba(0, 0, 0, 0.04),
      0 12.521552085876465px 10.02px rgba(0, 0, 0, 0.04),
      0 6.650102138519287px 5.32px rgba(0, 0, 0, 0.03),
      0 2.767256498336792px 2.21px rgba(0, 0, 0, 0.02);
    align-items: flex-start;
    padding: 30px;
    box-sizing: border-box;
    gap: 12px;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Inter;
  }
  