.pilih-kelas1-rapot {
  color: #000;
}
.rapor-akhir-container1-rapot {
  line-break: anywhere;
  width: 100%;
}
.rapor-akhir-container-rapot {
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 215px;
  height: 27px;
  flex-shrink: 0;
}
.image-1-icon3-rapot {
  position: absolute;
  top: 0;
  left: 0;
  width: 295px;
height: 171px;
object-fit: cover;
border-radius: 20px;
}
.frame-wrapper3-rapot,
.kelas-a-container-rapot,
.kelas-a1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kelas-a1-rapot {
  position: relative;
  width: 163px;
  height: 41px;
  flex-shrink: 0;
}
.frame-wrapper3-rapot,
.kelas-a-container-rapot{
  flex-direction: column;
}
.frame-wrapper3-rapot {
  position: absolute;
  top: 69px;
  left: calc(50% - 65.5px);
  width: 132px;
  height: 29px;
}
.group-div-rapot {
  cursor: pointer;
}
.group-div-rapot,
.image-1-parent1-rapot {
  position: relative;
  width: 295px;
  height: 167px;
}
.group-container-rapot,
.rapor-akhir1-rapot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  font-size: 32px;
  color: #fff;
}
.rapor-akhir1-rapot {
  position: relative;
  border-radius: 20px;
  background-color: #f6f6f6;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: 16px;
  color: #fb793d;
  font-family: Poppins;
}
